#
#Copyright  (c) 2016-2017, Walmart Stores Inc.  All rights reserved.

#

# Maven
target

# IntelliJ
*.iml
*.ipr
*.iws
.idea
bin
.idea/compiler.xml
mysprintboot-application.iml
.idea/workspace.xml



# Eclipse
.classpath
.project
.settings
.externalToolBuilders
maven-eclipse.xml

#build
.DS_Store
*/.DS_Store
webapp/tgt

#log files
logs:w
*.log
*.log.gz
logs/
rx-work-service/logs/
D:\\home*

#Windows
Thumbs.db

#GIT
#.gitignore


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
snapshot
sandbox
